<!doctype html>
<html lang="pt" ng-app="SistemaAcademico">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Turma</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-controller="AlunoController">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form name="alunoForm">
                <div class="form-group">
                    <label>Matrícula</label>
                    <input type="text" ng-model="aluno.matricula" required class="form-control">
                </div>
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" ng-model="aluno.nome" required class="form-control">
                </div>
                <div class="form-group">
                    <label>Turma</label>
                    <select name="turma" ng-model="aluno.turma" class="form-control"
                            required>
                        <option ng-repeat="turma in turmaLista" value="{{turma.valor}}">
                            {{turma.valor}}
                        </option>
                    </select>
                </div>
                <button class="btn btn-primary" ng-click="addAluno()" ng-disabled="alunoForm.$invalid">Gravar</button>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-bordered" ng-hide="alunoLista.length === 0">
                <thead>
                <tr>
                    <th>Matrícla</th>
                    <th>Nome</th>
                    <th>Turma</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="aluno in alunoLista">
                    <td>
                        {{aluno.matricula}}
                    </td>
                    <td>
                        {{aluno.nome}}
                    </td>
                    <td>
                        {{aluno.turma}}
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="removerAluno(aluno)">Remover</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="js/main.js"></script>
<script src="js/AlunoController.js"></script>


</body>

</html>
